In [204]:
%matplotlib.inline
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Notes on Gas prices
   1. Gather data from nominal price of gas standardized on yearly price.
   2. Cleaning and Transforming
   3. Adjust prices for Inflation
   4. Graph Nominal / Adjusted
   5. Choose another item to compare

In [195]:
#get website data in html
t = requests.get("http://www.eia.gov/totalenergy/data/annual/showtext.cfm?t=ptb0524") 
soup = BeautifulSoup(t.text)

/usr/local/lib/python3.5/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [196]:
allrows = soup.find_all('tr') #find all table rows

# Format of our output:

 The result will be a dictionary with two keys: **year** and **price**:
 
     { 'year': [1949, 1950, ...], 'price': [0.268, 0.268, ...] }

In [197]:
onerow = allrows[43].find_all('td')

In [198]:
raw_price = onerow[1].get_text().strip()
fl_price=float(raw_price.replace('R ', ''))
fl_price

0.9

In [199]:
#year_list = [] 
#price_list = []
raw_prices = {'Year':[], 'Price':[]}
for i in range(4,67):
    onerow = allrows[i].find_all('td')
    date = int(onerow[0].get_text())
   # year_list.append(date)
    raw_prices['Year'].append(date)
    if date < 1990:
       price = onerow[1].get_text().strip()
       fl_price = float(price.replace('R ','')) 
       #price_list.append(fl_price) 
       raw_prices['Price'].append(fl_price)
       
    elif date >= 1990:
       price = onerow[3].get_text().strip()
       fl_price = float(price.replace('R ',''))
       #price_list.append(fl_price)
       raw_prices['Price'].append(fl_price)

In [200]:
raw_prices

{'Price': [0.268,
  0.268,
  0.272,
  0.274,
  0.287,
  0.29,
  0.291,
  0.299,
  0.31,
  0.304,
  0.305,
  0.311,
  0.308,
  0.306,
  0.304,
  0.304,
  0.312,
  0.321,
  0.332,
  0.337,
  0.348,
  0.357,
  0.364,
  0.361,
  0.388,
  0.532,
  0.567,
  0.59,
  0.622,
  0.627,
  0.857,
  1.191,
  1.311,
  1.222,
  1.158,
  1.129,
  1.115,
  0.857,
  0.897,
  0.9,
  0.997,
  1.164,
  1.14,
  1.127,
  1.108,
  1.112,
  1.147,
  1.231,
  1.234,
  1.059,
  1.165,
  1.51,
  1.461,
  1.358,
  1.591,
  1.88,
  2.295,
  2.589,
  2.801,
  3.266,
  2.35,
  2.788,
  3.527],
 'Year': [1949,
  1950,
  1951,
  1952,
  1953,
  1954,
  1955,
  1956,
  1957,
  1958,
  1959,
  1960,
  1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011]}

In [201]:
df = pd.DataFrame(raw_prices)
df.head

<bound method NDFrame.head of     Price  Year
0   0.268  1949
1   0.268  1950
2   0.272  1951
3   0.274  1952
4   0.287  1953
5   0.290  1954
6   0.291  1955
7   0.299  1956
8   0.310  1957
9   0.304  1958
10  0.305  1959
11  0.311  1960
12  0.308  1961
13  0.306  1962
14  0.304  1963
15  0.304  1964
16  0.312  1965
17  0.321  1966
18  0.332  1967
19  0.337  1968
20  0.348  1969
21  0.357  1970
22  0.364  1971
23  0.361  1972
24  0.388  1973
25  0.532  1974
26  0.567  1975
27  0.590  1976
28  0.622  1977
29  0.627  1978
..    ...   ...
33  1.222  1982
34  1.158  1983
35  1.129  1984
36  1.115  1985
37  0.857  1986
38  0.897  1987
39  0.900  1988
40  0.997  1989
41  1.164  1990
42  1.140  1991
43  1.127  1992
44  1.108  1993
45  1.112  1994
46  1.147  1995
47  1.231  1996
48  1.234  1997
49  1.059  1998
50  1.165  1999
51  1.510  2000
52  1.461  2001
53  1.358  2002
54  1.591  2003
55  1.880  2004
56  2.295  2005
57  2.589  2006
58  2.801  2007
59  3.266  2008
60  2.350  2009
61  2.788  2010
62  3.527  2011

[63 rows x 2 columns]>

In [206]:
df.plot(x='Year', y='Price', kind='scatter')

In [220]:
cpi = pd.read_excel('CPI Datasheet.xlsx',skiprows=range(9),header=1)
cpi

    Year   Annual
0   1949   23.800
1   1950   24.100
2   1951   26.000
3   1952   26.500
4   1953   26.700
5   1954   26.900
6   1955   26.800
7   1956   27.200
8   1957   28.100
9   1958   28.900
10  1959   29.100
11  1960   29.600
12  1961   29.900
13  1962   30.200
14  1963   30.600
15  1964   31.000
16  1965   31.500
17  1966   32.400
18  1967   33.400
19  1968   34.800
20  1969   36.700
21  1970   38.800
22  1971   40.500
23  1972   41.800
24  1973   44.400
25  1974   49.300
26  1975   53.800
27  1976   56.900
28  1977   60.600
29  1978   65.200
..   ...      ...
37  1986  109.600
38  1987  113.600
39  1988  118.300
40  1989  124.000
41  1990  130.700
42  1991  136.200
43  1992  140.300
44  1993  144.500
45  1994  148.200
46  1995  152.400
47  1996  156.900
48  1997  160.500
49  1998  163.000
50  1999  166.600
51  2000  172.200
52  2001  177.100
53  2002  179.900
54  2003  184.000
55  2004  188.900
56  2005  195.300
57  2006  201.600
58  2007  207.342
59  2008  215.303
60  2009  214.537
61  2010  218.056
62  2011  224.939
63  2012  229.594
64  2013  232.957
65  2014  236.736
66  2015  237.017

[67 rows x 2 columns]

In [213]:
nowcpi = 238.78
oldcpi = 31.01

nowcpi/oldcpi *0.3

2.31002902289584

In [228]:
cpi.set_index(keys='Year')

SyntaxError: invalid syntax (<ipython-input-228-e0fcafa5ee2a>, line 1)

In [215]:
adj = df.merge(right=cpi, left_on='year', right_index=True)
adj.head()

NameError: name 'cpi' is not defined

In [221]:
adj['Adjusted Price'] = adj.price * 238.78/adj.Year
adj.head

NameError: name 'adj' is not defined

In [226]:
xx = adj[['price','adj_price]]
xx.index = adj.year
xx.plot()

SyntaxError: EOL while scanning string literal (<ipython-input-226-142dcd031772>, line 1)

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)
ax.plot(adj['year'], adj['price'], marker='+', color='b')
ax.plot(adj['year'], adj['adj_price'], marker='*', color=g)

In [227]:
adj.to_excel(testing.xlsx)

NameError: name 'adj' is not defined